//SCSS Variables
$orange: #ffa217; //Main Color
$dark-orange: #e59013;
$red: #ff5c4a;
$green: #4affb6;
$ft-orange: #ffb359;
$white: #fff;
$black: #0b080b;
$gray: #262321;
$a-tags: "a,a:active,a:focus,a:active;a:hover,a:visited";

//END SCSS Variables
//SCSS Mixins & Functions

@mixin prefixer($property, $value, $moz: true, $webkit: true, $o: false, $ms: false, $spec: true) {
    @if $moz {
        -moz-#{$property}: $value;
    }
    @if $webkit {
        -webkit-#{$property}: $value;
    }
    @if $o {
        -o-#{$property}: $value;
    }
    @if $ms {
        -ms-#{$property}: $value;
    }
    @if $spec {
        #{$property}: $value;
    }
}

// END SCSS Mixins & Functions
/** CSS RESET & Defaults **/
//Simple Reset
// * {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
//     @include prefixer(box-sizing, border-box);
// }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote,q {
    &:before, &:after {
        content: '';
        content: none;
    }
}

a {
    color: $orange;
    text-decoration: none;
    @include prefixer(transition, 0.27s);
    &:hover,&:focus {
        text-decoration: none;
        color: $ft-orange;
    }
}

/* END Defaults/Resets */

body {
    font-family: 'Source Sans Pro',Arial, sans-serif;
    color: $black;
    padding-top: 70px;
    line-height: 1.6em;
}

/** Element Defaults **/
.view-more-btn {
    margin: 30px;
    margin-left: 0px;
    background: $orange !important;
    color: $white !important;
    border: none !important;
    border-radius: 4px;
    border-bottom: 4px solid $dark-orange !important;
    font-size: 17px;
    transition:360ms;
    opacity:0.87;
    &:hover,&:focus {
      opacity:1;
      @include prefixer(transform, scale(1.2));
    }
}

p {
    font-size: 17;
    padding: 7px 0;
}

blockquote {
    margin: 13px 10px 13px 10px;
    border-left: 3px solid $orange;
    padding: 14px 9px 14px 16px;
    opacity: 0.8;
}

/** Defaults END **/
header {
    height: 74px;
    width: 100%;
    position: fixed;
    top: 0;
    background: $white;
    margin-bottom: 40px;
    display: block;
    z-index: 999;
    @include prefixer(box-shadow, 0px 1px 1px rgba(50, 50, 50, 0.2));
    .wrapper {
        width: 100%;
        margin: 0;
    }
}

.navbar-nav,.navbar {
    -webkit-transform: translateZ(0);
}

.navbar {
    border-top: 2px solid $orange;
    background: $white;
}

input::-moz-focus-inner {
    border: 0;
}

.logo {
    min-width: 200px;
    position: relative;
    top: -5px;
    font-size: 29px;
    display: inline-block;
    float: left;
    margin-right: 62px;
    color: $black;
}

.logo-N {
    background: $orange;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    border: 4px solid $white;
    @include prefixer(transition, 0.5s);
    padding: 10px;
}

.logo:hover .logo-N {
    margin-right: 6px;
    @include prefixer(transform, scale(1.3));
}

.navbar-nav {
    font-size: 20px;
    line-height: 2.6em;
    float: right;
   
    a {
        transition: 0.3s all;
        padding: 6px;
        padding-top: 21px;
        opacity: .87;
        color: $black;
        border-radius: 3px;
        margin: 8px 2px 0px 2px;
        &:hover {
            background: $orange;
            /*border:4px solid #554E49;*/
            color: #fff;
        }
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: $orange;
}

.navbar-fixed-top {
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
}

.active a {
    opacity: 1;
    background: $orange;
    color: $white;
    padding: 24px 6px 6px 6px;
}

.main-social-nav {
    margin: 0px 0px 0px 120px;
    a {
        marign: 0px;
    }
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    padding-top: 0;
    margin: 0px;
}

.main-about-picture {
    text-align: center;
}

//End Header
/** Main Content **/
section {
    text-align: center;
    background: $white;
    h2 {
        font-size: 40px;
        padding: 6px;
    }
}

.main-content, footer {
    text-align: center;
}

.picture {
    width: 240px;
    height: 240px;
    margin: 15px auto 10px auto;
    background: #fff;
    //border: 8px solid #eee;
    @include prefixer(box-shadow, inset 0px 6px 12px rgba(50, 50, 50, 0.4));
    background-image: url(../img/mePic.jpg);
    background-size: cover;
    @include prefixer(transition, 0.4s);
    @include prefixer(border-radius, 50%);
    text-indent: -9999px;
    overflow: hidden;
    /* text-indent without this can cause choppy animation */
}

.codepen-logo {
    background-image: url(../img/codepen-icon.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 47px;
    height: 53px;
}

.codepen {
    margin-top: 12px;
    padding: 2px;
    position: relative;
    top: -14px;
}

#about-me {
    margin: 20px 0px 90px 0px;
    font-size: 22px;
    p {
        text-align: left;
        font-weight: 300;
        line-height: 26px;
        padding: 14px;
    }
}

.my-blog-left {
    background: $white;
}

.my-blog-left-about {
    max-width: 298px;
    margin: 4px auto;
    text-align: left;
    .picture {
        width: 100px;
        height: 100px;
        float: left;
        margin: 5px;
        border: 2px solid $white;
    }
    a {
        color: $black;
    }
}

.social-nav {
    margin-left: 60px;
    li {
        padding: 0px 4px;
    }
    a {
        color: $black;
        font-size: 32px;
    }
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.brain-blog {
    @include prefixer(box-shadow, inset 0px 14px 18px rgba(50, 50, 50, 0.4));
    background: url("../img/brain-blog.png") no-repeat center, $white;
    border: 4px solid $white;
    opacity: 0.89;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.about-me {
    width: 100%;
    background: $orange;
    @include prefixer(background, linear-gradient(100deg, #ff9036 0%, #d86135 67%, #ff4b12 90%));
    color: $white;
    text-align: left;
    padding-top: 15px;
    min-height: 350px;
    margin-bottom: 40px;
    @include prefixer(text-shadow, 0px 1px 2px rgba(50, 50, 50, 0.3));
    .wrapper {
        width: 960px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .about-me-text {
        margin-top: 10px;
        padding-bottom: 40px;
    }
    .about-me-picture {
        display: inline-block;
        text-align: center;
    }
    p {
        margin-left: 50px;
        padding: 30px 0 0 0;
        font-size: 22px;
    }
}

.blog-header {
    width: 100%;
    background: $orange;
    @include prefixer(background, linear-gradient(100deg, #ff783e 0%, #d85d4e 67%, #ba3324 90%));
    background-attachment: scroll;
    color: $white;
    text-align: center;
    padding-top: 15px;
    min-height: 200px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    @include prefixer(text-shadow, 0px 1px 2px rgba(50, 50, 50, 0.3));
}

.about-header {
    width: 100%;
    background: $orange;
    @include prefixer(background, linear-gradient(100deg, #ff783e 0%, #f08e63 67%, #fd6056 90%));
    background-attachment: scroll;
    color: $white;
    text-align: center;
    padding-top: 15px;
    min-height: 350px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    @include prefixer(text-shadow, 0px 1px 2px rgba(50, 50, 50, 0.3));
    h2 {}
}

.about-header-link {
    background: $white;
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: 78px auto 0px auto;
    font-size: 80px;
    padding: 0px;
    border-radius: 50%;
    line-height: 2.3em;
    color: $black;
    opacity: 0.87;
    @include prefixer(transition, 0.4s all);
}

/**About ME**/

.about {
    .wrapper {
        width: 960px;
        max-height: 400px;
        margin: 0 auto;
    }
    margin: 40px;
}

.about-left {
    width: 350px;
    height: 350px;
    background: $orange;
    display: inline-block;
}

.main-about-content {
    padding-top: 34px;
}

/** Portfolio & Images **/
.portfolio-item  img {
    margin: 15px;
    @include prefixer(transition, all 0.25s);
}

.portfolio-item img:hover {
    @include prefixer(transform, translate3d(0, -14px, 0));
    @include prefixer(box-shadow, 0 14px 24px rgba(50, 50, 50, 0.65));
}

/** Blog Page **/
.blog-post-header {
    width: 100%;
    background: $orange;
    @include prefixer(background, linear-gradient(100deg, #ff783e 0%, #ba3324 90%));
    background-attachment: scroll;
    color: $white;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    @include prefixer(text-shadow, 0px 1px 2px rgba(50, 50, 50, 0.3));
    min-height: 200px;
    h1 {
        font-size: 26px;
        padding: 17px 0px;
    }
    h2,p {
        padding: 7px;
    }
}

.my-blog h1 {
    font-size: 50px;
}

.my-blog h2 {
    font-size: 30px;
}

.my-blog h2,h3 {
    margin: 10px 10px 10px 0px;
}

.blog-post {
    font-family: 'Rokkitt', serif;
    margin-top: 30px;
}

.blog-list {
    text-align: left;
    a.post-title {
        padding-bottom: 5px;
    }
    a.post-title:hover {
        color: $orange;
    }
    li {
        margin: 20px;
        padding-bottom: 24px;
        border-bottom: 4px solid $orange;
        @include prefixer(border-bottom, linear-gradient(100deg, #ff783e 0%, #d85d4e 67%, #ff4146 90%));
        opacity: 0.8;
        @include prefixer(transition, all 0.25s);
    }
    li:first-child {
        opacity: 1;
    }
    li:last-child {
        border: none;
    }
    li:hover {
        opacity: 1;
    }
    h2 {
        text-align: left;
    }
}

.blog-post p {
    margin-top: 30px;
    text-align: left;
    font-size: 20px !important;
}

/** Blog Page END **/

/** Contact Page **/
.contact-info {
    width: 300px;
    max-height: 300px;
    padding: 20px;
    color: $black;
    text-align: left;
    background: $white;
    margin: 60px auto;
    p {
        padding: 5px;
        font-size: 20px;
    }
    h1 {
        color: $orange;
        font-size: 26px;
        margin: 10px 10px 10px 0px;
    }
}

/** Contact Page END **/

/** About Page **/
.under-the-header {
    text-align: left;
    h2 {
        font-size: 25px;
        padding-left: 0px;
        color: $orange;
    }
    margin-bottom: 20px;
}

.home-p {
    @include prefixer(box-shadow, 0 2px 1px rgba(0, 0, 0, 0.5));
    max-width: 320px;
}

.scrollTopButton {
    color: $black;
    position: fixed;
    opacity: 0.4;
    top: 84%;
    right: 10%;
    font-size:25px;
    a:focus,a:hover,a:active {
        color: $ft-orange;
        text-decoration: none;
        outline: 0;
        opacity: 0.9;
    }
}

.coming-soon-slink {
    background: $white;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding: 0px;
    border-radius: 50%;
    line-height: 2.1em;
    margin: 26px auto;
    text-shadow: 0px;
    opacity: .9;
    color: $white;
    background: lightblue;
    @include prefixer(transition, 0.4s all);
}

.fa-html5,.fa-css3 {
    font-size: 20px;
}

.fa-html5 {
    color: $orange;
}

.fa-css3 {
    color: $green;
}

#about-me,#resume,#location {
    padding-top: 100px;
}

#resume {
    text-align: center;
    padding-top: 150px;
    background: #F08E63;
    h2 {
        text-align: center;
        margin: 10px;
    }
    h3 {
        font-weight: bolder;
        font-size: 20px;
        padding: 9px 0px 6px 0px;
        border-top: 2px solid $ft-orange;
        border-bottom: 1px solid $orange;
        width: 90%;
        margin: 5px 0px 5px 0px;
    }
    ul {
        width: 90%;
        span {
            font-style: italic;
        }
    }
    li:before {
        content: "• ";
        color: $orange;
        font-size: 30px;
        position: relative;
        bottom: -3px;
        /* or whatever color you prefer */
    }
    ul.skills {
        li:before {
            content: "• ";
            color: $white;
            text-shadow: -2px 0 $orange, 0 2px $orange, 2px 0 $orange, 0 -2px $orange;
            font-size: 30px;
            position: relative;
            bottom: -3px;
            /* or whatever color you prefer */
        }
    }
    .scrollTopButton {
        color: #0b080b;
        position: fixed;
        opacity: 0.4;
        top: 84%;
        right: 10%;

    }
    i.fa-download {
        font-size: 20px;
        height: 20px;
        position: relative;
        float: right;
        display: inline-block;
        width: 20px;
        margin-top: 10px;
        text-align: center;
        top: -70px;
        opacity: 0.5;
        transition: 0.25s ease-in-out;
    }
    i.fa-download:hover {
        opacity: 0.9;
    }
}

#tools {
    padding-top: 150px;
    background: #FD6056;
    .content {
        text-align: center;
    }
}

.twitter-timeline {
    border: none;
    max-width: 100%;
    min-width: 180px;
    height: 190px;
    border-radius: 0px;
    .tweet-box-button {
        background: $orange;
        border: none !important;
    }
}

#resume, #tools {
    .content {
        padding: 20px;
        box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.7);
        max-width: 900px;
        margin: 0 auto;
        border-radius: 5px 5px 0px 0px;
        background: $white;
        text-align: left;
        padding-bottom: 80px;
        a {
            color: $orange;
            @include prefixer(transition, 0.4s);
            &:hover,&:focus {
                color: #FD6056;
            }
        }
    }
}

.timeline {
    border-radius: 0px !important;
    border: none;
}

#contact {
    background: $red;
    color: $white;
    font-size: 20px;
    padding-bottom: 120px;
    h3 {
        padding-top: 40px;
    }
    a {
        opacity: 0.87;
        transition: 0.25s ease-in-out;
    }
    a:hover {
        opacity: 1;
    }
    .fa-envelope {
        color: $orange;
        font-size: 4em;
        text-shadow: 0px 4px 4px rgba(50, 50, 50, 0.4);
    }
    @media only screen and (max-width: 520px) {
        .fa-envelope {
            color: $white;
            font-size: 7em;
            text-shadow: 0px 4px 4px rgba(50, 50, 50, 0.4);
        }
    }
}

.nav>li>.codepen-logo:hover {
    background-image: url(../img/codepen-icon.png);
    background-repeat: no-repeat;
    background-position:center;
    opacity: 0.6;
    
}

.about-header-link {
    background: $white;
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: 78px auto 0px auto;
    font-size: 80px;
    padding: 0px;
    border-radius: 50%;
    line-height: 2.3em;
    color: $black;
    opacity: 0.87;
    @include prefixer(transition, 0.4s all);
}

#code-examples {
    padding-top: 50px;
    padding-bottom: 80px;

    h1 {
        padding: 30px;
    }
}

/** Tools **/
#tools {
    h1,h2,h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    li {
        margin: 10px;
    }
    p {
        font-size: 120%;
        position: relative;
        top: 30px;
    }
}

/** Sprite **/
.tools {
    background-image: url(../img/tools-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    /* text-indent without this can cause choppy animation */
}

.tool-Adobe_CC_Logos {
    width: 139px;
    height: 130px;
    background-position: -5px -5px;
    display: inline-block;
}

.tool-chromo_logo {
    width: 106px;
    height: 110px;
    background-position: -154px -5px;
    display: inline-block;
}

.tool-macbook {
    width: 400px;
    height: 274px;
    background-position: -270px -5px;
}

.tool-sublimetext_logo {
    width: 119px;
    height: 110px;
    background-position: -680px -5px;
    display: inline-block;
}

/** END Tools **/
/** END About Page **/
/** Footer **/
footer {
    margin: 0px 0 0 0;
    padding-bottom: 80px;
    border-top: 4px solid $orange;
    background: #c6450e;
    @include prefixer(background, linear-gradient(100deg, #ff783e 0%, #e64e0e 90%));
    @include prefixer(text-shadow, 0px 1px 2px rgba(50, 50, 50, 0.3));
    color: $white;
    p {
        margin: 20px 10px 10px 10px;
    }
    a {
        color: $white;
        text-decoration: underline;
        @include prefixer(transition, 0.27s);
    }
}

/** Footer END **/

/** Media Quieries **/
@media only screen and (max-width: 980px) {
    .navbar-nav {
        float: none;
    }
    .main-social-nav {
        display:block;
        margin-left:20px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-nav {
        float: none;
    }
    .main-social-nav {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 390px) {
    .tools {
        display: none;
    }
    #tools {
        p {
            margin-bottom: 20px;
            position: relative;
            top: 10px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .active a {
        border-radius: 0px;
    }
    .navbar-nav {
        text-align: center;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        text-decoration: none;
        background-color: $orange;
        border-radius: 0px;
    }
    .main-social-nav {
        max-width: 260px;
        margin: 0 auto;
    }
    .main-social-nav li a {
        display: inline-block;
        float: left;
        border-radius: 50%;
    }
    .codepen {
        margin-top: 3px;
        padding: 0px;
    }
    .about-header {
        min-height: 140px;
    }
    .about-header-link {
        color: #000;
        background: transparent;
        margin: 10px;
        line-height: 1.4em;
    }
    #resume,#tools {
        .content {
            width: 95%;
        }
    }
}
#design-examples {
padding-top: 76px;
}

form {
  max-width:380px;
  box-shadow:0px 3px 2px rgba(0,0,0,0.4);
  background: #fff;
  margin:40px auto;
  text-align: center;
  padding:20px;
  border-radius:5px;
  
  
}
input {
  display: block;
  width:97%;
  height:40px;
  font-size:26px;
  margin:10px auto;
  padding:5px;
  background: #F7F8FA;
  transition:0.2s linear 0s;
border: 1px solid #dddddd;
  &:focus {
    background:#DBE9F1;
  }
}

textarea {
  width:97%;
  border:0px;
  padding:5px;
  font-size:20px;
    background: #F7F8FA;

  border: 1px solid #dddddd;
  transition:0.2s linear 0s;
 &:focus {
    background:#DBE9F1;
  }
  
}
input[type="submit"] {
  background:#FE6E66;
  border:none;
  color:#fff;
  cursor: pointer;
  border-radius:3px;
  line-height: 1.2em; 
  transition:0.4s ease-in-out;
  box-shadow:0px 1px 1px rgba(0,0,0,0.2);
  &:hover {
    background: #FF4531;
  }
 }
#contact .header{
  padding:20px;
  color:#FFA217;
}
#contact .fa-envelope {
color: #ffa217;
font-size: 2em;
display: block;
/* text-shadow: 0px 4px 4px rgba(50, 50, 50, 0.4); */
}