/*

Color Scheme:
http://www.colorhexa.com/87d8df



Design Inspiration:
http://codepen.io/rtvenge/pen/tvgjo
https://dribbble.com/shots/972934-Resume


*/

body {
 font-family: 'Oswald';
         background: url(imgs/bg.jpg) no-repeat fixed center center / cover;
         
    overflow-x: hidden;
}
#timeLine {
    font-family: 'open-sans',sans-serif;
  font-size: 30px;
  font-weight:300;
  margin: 0 auto;
  width: 800px;
 
}
ul.contact-info {
  list-style: none;
     font-family: 'open-sans',sans-serif;

}
.contact-info > li {
  list-style: none;
  float:left;
margin-left: 50px;
}
header{
 color:#fff;
 font-weight: bold;
 background:rgba(95, 145, 212,0.8);
 text-align:center;
 padding:20px;
    font-family: 'Oswald';
 border-bottom:8px solid #87addf;
 
}
.footer {
    padding:10px;
    background: #87addf;
    width:100%;
    text-align:center;
}
.education {
      background: rgba(95,145,212,0.8);
     
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    color: #fff;
    /* font-family: 'Oswald';*/
}
footer {
   color:#fff;
 font-weight: bold;
  background:rgba(95, 145, 212,0.8);
 
   border-top:6px solid #87addf;
   
}
.hidden {
  display: none;
}
.lens-profile-timeline {
  list-style: none;
  padding: 0;
  margin: 60px 0 80px !important;
  border-bottom: 8px solid #87d8df;
  position: relative;
}
.lens-profile-timeline li {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 8px solid #3775c9;
  border-radius: 16px;
  background: #fff;
  margin-top: -12px;
}
.lens-profile-timeline time, .lens-profile-timeline p {
  left: -27px;
  top: -40px;
  position: absolute;
  width: 70px;
  text-align: center;
}
.lens-profile-timeline time {
  margin-top: 70px;
  font-size: 30px;
}
.lens-profile-timeline p {
  margin-top: -0px;
  font-size: 10px;
  line-height: 1.1;
}
.lens-profile-timeline p:after {
  content: "";
  height: 8px;
  border-left: 1px solid #39752c;
  position: absolute;
  bottom: -10px;
  left: 35px;
}
#work-history{
    padding:15px;
}
.footer {
 padding:25px;
-webkit-box-shadow: inset 0px 10px 7px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 10px 7px -13px rgba(0,0,0,0.75);
box-shadow: inset 0px 10px 7px -13px rgba(0,0,0,0.75);
        font-family: 'open-sans',sans-serif;

}
.nav-bar {
    width:630px;
    margin:0 auto;

}
.work-history-text {
    text-align: center; font-family: 'Oswald'; 
   padding-bottom:20px;
}
.social-container {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

 .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    color:#fff;
    
}
ul.social  {
    list-style: none outside;
}
ul.social > li {
    float:left;
    margin-left:10px;
      color:#fff;
      -moz-transition: 0.3s;
-webkit-transition: 0.3s;
transition: 0.3s;
}
ul.social > li:hover {
margin-right: 6px;
-moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
transform: scale(1.3);
}